<div class="container main">
    <div class="row">
      <div class="col-md-6">
        <h3 class="text-center my-4">Enter a Location:</h3>
        <form
          [formGroup]="searchForm"
          (ngSubmit)="getWeather(searchForm.value)"
        >
          <div class="form-group">
            <input
              class="form-control"
              type="text"
              id="location"
              aria-describedby="Location"
              placeholder="Enter Location"
              formControlName="location"
            />
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-success btn-md">
              Get weather
            </button>
          </div>
        </form>
        <div class="alert alert-warning alert-dismissible fade show" style="margin-top: 20px;" role="alert" *ngIf="apiError">
          Please enter a valid location
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card text-center">
          <img class="card-img-top" [src]="weatherData?.current.weather_icons" alt="Weather Icon">
          <div class="card-body">
            <h5 class="card-title">Temperature: {{ weatherData?.current?.temperature }} °C | {{weatherData?.current.weather_descriptions}}</h5>
            <div class="card-text">
              <p>Measured at: {{ weatherData?.current?.observation_time}}</p>
              <p>Wind Speed: {{ weatherData?.current?.wind_speed}} km/h</p>
              <p>Humidity: {{ weatherData?.current?.humidity}} %</p>
            </div>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>